.nav-link:hover,
.menu-links:hover,
.menu-links-header:hover,
.carousel-links:hover,
.aree-disciplinari-links:hover,
.news-links:hover,
.eventi-links:hover,
.footer-links:hover {
  text-decoration: underline;
}

.menu-links,
.menu-links-header,
.aree-disciplinari-links,
.news-links,
.eventi-links,
.footer-links {
  text-decoration: none;
}

.menu-links-header {
  font-weight: bold;
}

.no-border-radius {
  border-radius: 0;
}

.nav-bar-modal-links {
  text-decoration: underline;
}

.nav-bar-modal-links a,
.menu-links,
.aree-disciplinari-links,
.footer-links {
  color: black;
}

.menu-pills,
.nav-bar-pills,
#second-nav-bar-lg {
  font-weight: bold;
}

.hide {
  display: none;
}

#toggle-menu {
  display: block;
}

#logo,
#logo-footer {
  font-size: 2em;
}

#aree-disciplinari {
  font-size: 1.3em;
}

#toggle-menu-display {
  position: relative;
}

#universityCarousel {
  z-index: 0;
}

.card {
  height: 100%;
  box-shadow: 0;
  transition: box-shadow 0.5s;
}

.card:hover {
  box-shadow: 10px 10px 20px rgb(205, 205, 205);
  z-index: 1;
}

.time {
  background-color: rgb(200, 200, 200);
}

@media screen and (max-width: 950px) {
  #main-nav-pills {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  #aree-disciplinari-title {
    text-indent: 1.3em;
  }
}

@media screen and (min-width: 1200px) {
  .caption-large-display {
    width: 50%;
  }
}

@media screen and (max-width: 1199px) {
  .caption-large-display {
    width: 60%;
  }
}
@media screen and (max-width: 991px) {
  .caption-large-display {
    width: 80%;
    padding-top: 1em;
  }
}

@media screen and (max-width: 767px) {
  .carousel-item {
    height: 46vh;
  }
  .caption-small-display {
    margin: 0 10vw;
  }
}
@media screen and (max-width: 576px) {
  .carousel-item {
    height: 40vh;
  }
  .caption-small-display {
    margin: 0 0;
  }
}

@media screen and (max-width: 1400px) {
  #first-nav-bar,
  #second-nav-bar-lg {
    display: none;
  }

  #navbar-modal-button {
    width: 100%;
  }
}

/* menu display xxl */
@media screen and (min-width: 1400px) {
  #menu-medium-display,
  #menu-small-display,
  #second-nav-bar-md {
    display: none;
  }

  #menu-large-display {
    position: absolute;
    background-color: white;
    z-index: 1;
  }

  #logo {
    margin-left: 3em;
  }
}

/*menu display md */
@media screen and (max-width: 1399px) {
  #menu-small-display,
  #menu-large-display {
    display: none;
  }

  #menu-medium-display,
  #second-nav-bar-md {
    display: block;
  }

  #menu-medium-display {
    position: absolute;
    background-color: white;
    z-index: 1;
  }
}

/* menu display sm */
@media screen and (max-width: 767px) {
  .nav-bar-modal-links {
    text-align: center;
  }

  #menu-large-display,
  #menu-medium-display {
    display: none;
  }

  #menu-small-display,
  #second-nav-bar-md {
    display: block;
  }

  header {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 2;
  }
}
