.nav-link:hover,
.menu-links:hover,
.menu-links-header:hover,
.carousel-links:hover,
.aree-disciplinari-links:hover {
  text-decoration: underline;
}

.menu-links,
.menu-links-header,
.aree-disciplinari-links {
  text-decoration: none;
}

.menu-links-header {
  font-weight: bold;
}

.no-border-radius {
  border-radius: 0;
}

.nav-bar-modal-links {
  text-decoration: underline;
}

.nav-bar-modal-links a,
.menu-links,
.aree-disciplinari-links {
  color: black;
}

.menu-pills,
.nav-bar-pills,
#second-nav-bar-lg {
  font-weight: bold;
}

.hide {
  display: none;
}

#toggle-menu {
  display: block;
}

.logo {
  font-size: 2em;
}

#aree-disciplinari {
  font-size: 1.3em;
}

@media screen and (max-width: 950px) {
  #main-nav-pills {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  #aree-disciplinari-title {
    text-indent: 1.3em;
  }
}

@media screen and (min-width: 1200px) {
  .caption-large-display {
    width: 50%;
  }
}

@media screen and (max-width: 1199px) {
  .caption-large-display {
    width: 60%;
  }
}
@media screen and (max-width: 991px) {
  .caption-large-display {
    width: 80%;
    padding-top: 1em;
  }
}

@media screen and (max-width: 767px) {
  .carousel-item {
    height: 46vh;
  }
  .caption-small-display {
    margin: 0 10vw;
  }
}

@media screen and (max-width: 667px) {
  .carousel-item {
    height: 44vh;
  }
}

@media screen and (max-width: 576px) {
  .carousel-item {
    height: 40vh;
  }

  .caption-small-display {
    margin: 0 0;
  }
}

@media screen and (max-width: 360px) {
  .carousel-item {
    height: 45vh;
  }
}

@media screen and (max-width: 1400px) {
  #first-nav-bar,
  #second-nav-bar-lg {
    display: none;
  }

  #navbar-modal-button {
    width: 100%;
  }
}

/* menu display xxl */
@media screen and (min-width: 1400px) {
  #menu-medium-display,
  #menu-small-display,
  #second-nav-bar-md {
    display: none;
  }

  #menu-large-display {
    display: block;
  }
  .logo {
    margin-left: 3em;
  }
}

/*menu display md */
@media screen and (max-width: 1399px) {
  #menu-small-display,
  #menu-large-display {
    display: none;
  }

  #menu-medium-display,
  #second-nav-bar-md {
    display: block;
  }
}

/* menu display sm */
@media screen and (max-width: 767px) {
  .nav-bar-modal-links {
    text-align: center;
  }

  #menu-large-display,
  #menu-medium-display {
    display: none;
  }

  #menu-small-display,
  #second-nav-bar-md {
    display: block;
  }
}
