.nav-link:hover {
  text-decoration: underline;
}

.no-border-radius {
  border-radius: 0;
}

.nav-bar-modal-links {
  text-decoration: underline;
}

.nav-bar-modal-links a {
  color: black;
}

@media screen and (max-width: 1400px) {
  .navbar-nav {
    display: none;
  }
  #navbar-modal-button {
    width: 100%;
  }
}

@media screen and (max-width: 575px) {
  .nav-bar-modal-links {
    text-align: center;
  }
}
