.nav-link:hover,
.menu-links:hover,
.menu-links-header:hover,
.carousel-links:hover {
  text-decoration: underline;
}

.menu-links,
.menu-links-header {
  text-decoration: none;
}

.menu-links-header {
  font-weight: bold;
}

.no-border-radius {
  border-radius: 0;
}

.nav-bar-modal-links {
  text-decoration: underline;
}

.nav-bar-modal-links a,
.menu-links {
  color: black;
}

.menu-pills,
.nav-bar-pills,
#second-nav-bar-lg {
  font-weight: bold;
}

.hide {
  display: none;
}

#toggle-menu {
  display: block;
}

#aree-disciplinari {
  font-size: 1.3em;
}
@media screen and (max-width: 900px) {
  #main-nav-pills {
    display: none;
  }
}

@media screen and (max-width: 1400px) {
  #first-nav-bar,
  #second-nav-bar-lg {
    display: none;
  }

  #navbar-modal-button {
    width: 100%;
  }
}

.logo {
  font-size: 2em;
}

/* menu display xxl */
@media screen and (min-width: 1400px) {
  #menu-medium-display,
  #menu-small-display,
  #second-nav-bar-md {
    display: none;
  }

  #menu-large-display {
    display: block;
  }
  .logo {
    margin-left: 3em;
  }
}

/*menu display md */
@media screen and (max-width: 1399px) {
  #menu-small-display,
  #menu-large-display {
    display: none;
  }

  #menu-medium-display,
  #second-nav-bar-md {
    display: block;
  }
}

/* menu display sm */
@media screen and (max-width: 767px) {
  .nav-bar-modal-links {
    text-align: center;
  }

  #menu-large-display,
  #menu-medium-display {
    display: none;
  }

  #menu-small-display,
  #second-nav-bar-md {
    display: block;
  }
  .carousel-item {
    height: 54vh;
  }
}
